# Mac
Icon?

# Media
.mp4
*.mp4

# Others
.vscode
.idea
*.so
*.o
*pyc

# FairMOT
visuals/FairMOT/DCNv2/_ext
visuals/FairMOT/DCNv2/build
visuals/FairMOT/models/*.pth
visuals/FairMOT/DCNv2/DCNv2.egg-info
visuals/FairMOT/DCNv2/dist

lib/modelsx/*.pth

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

videos/*.mp4